/**
 * @name Horizontal Server List
 * @author luciellexo - inspired by Gibbu
 * @version 0.0.1
 * @description Moves the server list from the left to the top of Discord and scales down by 20%.
 * @source https://github.com/luciellexo/BDHorizontalServerlist-SmallerScale/
*/
.content_c48ade {
  margin-top: var(--custom-guild-list-width);
  overflow: visible !important;
}

#app-mount .sidebar_c48ade {
  border-radius: -0.25;
  overflow: visible !important;
}
#app-mount .guilds_c48ade {
  transform-origin: top left;
  transform: scale(0.8); /* Scales down to 80% */
  rotate: -90deg;
  height: 125vw !important; /* increases server list length in the top bar by 25% due to scale shrinkage */
  width: 80vw !important;
  bottom: unset;
  position: absolute !important;
  left: 0;
}
#app-mount .tree_ef3116 {
  padding-top: var(--HSL-top-padding, var(--size-sm));
}
#app-mount .wrapper_cc5dd2 {
  rotate: 90deg;
}
#app-mount .itemsContainer_ef3116,
#app-mount .stack_dbd263 {
  flex-direction: var(--HSL-server-direction);
  justify-content: var(--HSL-server-alignment);
}

.container_c48ade > div[style]:not(.base_c48ade) {
  width: 100vw !important;
  height: var(--custom-guild-list-width) !important;
  position: absolute;
  top: calc(var(--custom-guild-list-width) + var(--custom-app-top-bar-height));
  pointer-events: none;
  z-index: 1;
}
.container_c48ade > div[style]:not(.base_c48ade) .guilds_c48ade {
  pointer-events: all;
}
.container_c48ade > div[style]:not(.base_c48ade) + .base_c48ade .content_c48ade {
  margin-top: calc(var(--custom-guild-list-width) * 2);
}

:root {
  --HSL-server-direction: column; /* Direction of the server list. | OPTIONS: column, column-reverse | DEFAULT: column */
  --HSL-server-alignment: flex-start; /* Alignment of the server list. | OPTIONS: flex-start, center, flex-end | DEFAULT: flex-start */
}
